@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    
}

/*navigation bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    right: 1rem;
    top: 1rem;
    
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style: none;
    padding: .5em 1em;
    
    font-size: 1.5rem;
}
/* Intro Section */
#intro-section {
    margin-top: 12em;
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.face-card {
    
    
    border-radius: 30%;
    width: 345px;
    height: 345px;
    min-width: 345px;
    min-height: 345px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 10px 10px 13px -12px black;
}

.face-card img {
    
    object-fit: cover;
    width: 100%;
    min-width: 100%;

}

.intro-text {
    
    height: 100%;
    max-width: 700px;
}

.intro-text h1 {
    font-size: 5em;
    font-weight: 400;
}

.intro-text p {
    font-weight: 300;
    font-size: 2.1rem;
    color: #626262;
    margin-top: -2rem;
    padding-left: .5rem;
}

#intro-section button {
    border: none;
    background-color: transparent;
    font-size: 2.1rem;
    font-weight: 400;

    padding-left: .5rem;
    margin-top: 1rem;
}

/* Project section */

#project-section {
    padding: 10em 6em;
}

.title h2 {
    font-weight: 500;
    font-size: 1.7em;
    color: #7D7D7D;
    margin-bottom: -1em;
}

.title h1 {
    font-weight: 500;
    font-size: 5em;
    
    margin-bottom: .5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, auto);
    
}

/* personal background */

#personal-section {
    padding: 4em 6em;
}
#personal-section .title h1, #personal-section .title h2{
    display: flex;
    justify-content: right;
    
}

.bio-container {
    display: flex;
    
    justify-content: space-between;
    position: relative;
}

.bio {
    font-size: 1.4rem;
    width: 40%;
    color: #383838;
}

/* image gallary */

.gallery {
    position: relative;
    margin-top: -10em;
    margin-left: 8em;
}

.personal {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    box-shadow: 10px 10px 13px -12px black;
}

.personal img {
    object-fit: cover;
    width: 100%;
    
}

/* there's probably a better way of doing this
but for the scope of this project it really doesn't matter */
.img-1 {
    width: 515px;
}

.img-2 {
    width: 415px;
    top: 12em;
    left: 20em;
}

.img-3 {
    width: 308px;
    top: 23em;
    left: 4em;
    z-index: 10;
}
/* cropping the image */
.img-3 img {
    width: 360px;
    
}

.img-4 {
    width: 291px;
    top: 35em;
    left: 20em;
}

.img-4 img{
    transform: scale(1.1);
}



