@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    
}

/*navigation bar*/
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}
ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    list-style: none;
    padding: .5em 1em;
    
    font-size: 1.5rem;
}
/* Intro Section */
#intro-section {
    
    padding: 1em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

.face-card {
    
    
    border-radius: 30%;
    width: 345px;
    height: 345px;
    min-width: 345px;
    min-height: 345px;

    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 10px 10px 13px -12px black;
}

.face-card img {
    
    object-fit: cover;
    width: 100%;
    min-width: 100%;

}

.intro-text {
    
    height: 100%;
    max-width: 700px;
}

.intro-text h1 {
    font-size: 5em;
    font-weight: 400;
}

.intro-text p {
    font-weight: 300;
    font-size: 2.1rem;
    color: #626262;
    margin-top: -2rem;
    padding-left: .5rem;
}

#intro-section button {
    border: none;
    background-color: transparent;
    font-size: 2.1rem;
    font-weight: 400;

    padding-left: .5rem;
    margin-top: 1rem;
}

/* Project section */

#project-section {
    padding: 10em 6em;
}

.title h2 {
    font-weight: 500;
    font-size: 1.7em;
    color: #7D7D7D;
}

.title h1 {
    font-weight: 500;
    font-size: 5em;
    
    margin-bottom: .5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    
}