/* contact section */

#contact-section {
    margin-bottom:  4em;
    padding: 0em 6em;
    * {
        transition: margin 500ms, transform 500ms;
    }
    overflow:hidden;
}



.social-container {
    display: flex;
}

.social {
    padding: 0 4em 0 1em;
}

.social:first-child {
    border-right: 3px solid #D8D8D8;
    padding-right: 5em;
    margin-right: 5em;
}

.social p {
    font-weight: 500;
    font-size: 1.5em;
}

.social p:first-child{
    color:#7D7D7D;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    color: black;
    font-size: 3em;
    
}

.social-links a {
    padding: 0;
    color: inherit;
    &:hover{
        color: cornflowerblue;
    }
}



@media (max-width: 1120px) and (min-width: 981px ) {
    .social-container {
        flex-direction: column;
    }
    
    .social {
        width: 480px;
        min-width: 480px;
        border-right: 3px solid #D8D8D8;
        &:last-child {
            padding-top: 1em;
        }
    }
}

@media (max-width: 980px) {

    #contact-section {
        padding: 4em 2em;
    }

    .social-container {
        flex-direction: column;
    }
    
    .social {
        width: 480px;
        min-width: 480px;
        border-right: none !important;
        &:first-child + ::before {
            content: "";
            display: block;
            width: 30px;
            height: 2px;
            background: #D8D8D8;
            margin-bottom: 1em;
        }
        &:last-child {
            padding-top: 1em;
        }
    }

    
}

@media (max-width: 535px) {
    .social-links {
        display: flex;
        gap: 0 !important;
    }
    
    .social {
        transform: scale(.8);
        margin-left: -3.5em;
    }

    .social {
        &:last-child {
            padding-top: 0em;
        }
    }
}