/* Project section */

#project-section {
    padding: 10em 6em;
}

.title h2 {
    font-weight: 500;
    font-size: 1.7em;
    color: #7D7D7D;
    margin-bottom: -1em;
}

.title h1 {
    font-weight: 500;
    font-size: 5em;
    
    margin-bottom: .5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 5em;
    
}

@media (max-width: 1120px) and (min-width: 981px ) {

    .cards {
        grid-template-columns: repeat(2, auto);
        gap: 0;
        
    }
    
}

@media (max-width: 980px) {
    .title h1 {
        line-height: .9em;
        font-size: 4em;
    }

    .title h2 {
        font-size: 1.3em;
        white-space: nowrap;
        margin-bottom: 0;
    }

    .cards {
        margin-top: -4em;
        position: relative;
        grid-template-columns: repeat(1,auto);
        width: 100%;
        justify-content: flex-start;
        grid-row-gap: 0;
    }

    #project-section {
        padding: 4em 2em;
    }
}