@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

.project-title {
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}

.project-title h2 {
    color: #A7A7A7;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: -.9em;
}


.project-title h1 {
    
    color: white;
    font-size: 4rem;
    font-weight: 500;
}

.card-container {
    background-color: black;
    width: auto;
    height: auto;
    max-width: 445px;
    max-height: 579px;
    overflow: hidden;
    border-radius: 25px;

    box-shadow: 10px 10px 13px -12px black;
    transition: transform 500ms;
}

.project-container {
    overflow: hidden;
}

.project-container img {
    object-fit: contain;
    width: 100%;
    

}

@media (max-width: 1120px) and (min-width: 981px ) {

    .card-container {
        transform: scale(.8);
    }
    
}

@media (max-width: 980px) {
    .card-container {
        transform: scale(.7,.7);
        margin-left: -4em;
        margin-bottom: -7em;
    }
}